name: Generar ICS automático

on:
  schedule:
    - cron: "0 0 1 12 *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run generator
        run: python generate_feriados.py

      - name: Commit y push
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add *.ics
          git commit -m "Actualización automática de feriados" || echo "Nada para commitear"
          git push
